/* Estilos gerais */
body {
    background-color: #02483e;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    /* background-image: url('Foto_Fundo.jpg'); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500vh;
}
.faixa-preta {
    position: fixed;
    left: 0;
    top: 0;
    width: 15%; /* Define a largura da faixa */
    height: 100vh; /* Faz a faixa ocupar toda a altura da página */
    background-color: #fcfef5;
    z-index: -1; /* Garante que a faixa fique acima do conteúdo */
}

.titulo-principal {
    font-size: 48px; /* Tamanho grande para chamar atenção */
    color: #f7f1ef; /* Cor vibrante */
    text-align: center;
    margin-top: 50px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); /* Efeito de sombra */
    font-family: 'Arial Black', Arial, sans-serif;
}

/* Estilos da página de login */
#login-container {
    background-color: #fcfef5; 
    width: 350px;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.titulo {
    color: white;
    text-align: center;
    margin-bottom: 20px;
    margin-top: -200;

}

h2 {
    color: black;
    text-align: center;
    margin-bottom: 20px;
}

#login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    color: black;
    font-weight: bold;
    margin-bottom: 5px;
    align-self: flex-start;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    background-color: #ccc; 
    color: black;;
    font-size: 16px;
}

button[type="submit"] {
    width: 30%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #67bfe7;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #affbff;
}

#login-error {
    color: red;
    margin-top: 10px;
    text-align: center;
}

/* Estilos da página de controle de notebooks */
#main-container {
    display: block;
    text-align: center;
}

#main-container h2 {
    margin-top: 20px;
    font-size: 28px;
    color: black;
    font-weight: bold;
    text-align: center;
}

/* Estilos da tabela */
table {
    width: 60%; 
    margin: 40px auto; 
    border-collapse: collapse;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
    background-color: white;
}

thead th {
    background-color: #ccc; 
    padding: 15px;
    text-align: center;
    font-size: 18px;
    color: black; 
    border: 1px solid #ddd; 
}

tbody td {
    padding: 12px;
    text-align: center;
    font-size: 16px;
    color: black; 
    border: 1px solid #ddd; 
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9; 
}

tbody tr:hover {
    background-color: #f1f1f1; 
}

/* Estilo do botão de logoff */
.logoff-button {
    position: fixed;
    top: 20px; 
    right: 20px; 
    padding: 10px;
    border: none;
    border-radius: 50%; 
    background-color: #3f483f; 
    color: white; 
    cursor: pointer;
    transition: background-color 0.3s; 
}

.logoff-button:hover {
    background-color: #3f483f; 
}
/* Estilo para o container de Vagas Disponíveis */
#vagas-disponiveis-container {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 15px;
    border-radius: 10px;
}

/* Mensagem de atualização de vagas */
#vagas-disponiveis-message {
    color: #28a745;
    font-size: 18px;
    margin-top: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 15px;
    width: 15%;
    background-color: #fcfef5;
    padding: 10px;
    border-radius: 10px;
    align-items: center;
}

.texto {
    text-align: center;
    font-size: 18px;
    color: black;
    font-family: 'Arial', sans-serif;
    font-size: 12px;
}

.botao {
    width: 50px;
}
.Absolute{
    position: fixed;
    width: 1000px;
    margin-top: -300px;
}